.footer {
    color: teal;
    font-size: 16px;
    text-align: center;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}